<div class="col-xs-12 sellable-item sellable-item-hover">
	<div class="text-center col-xs-2">
		<img class="item-image" src="{{sellableItem.image || 'https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/image-64.png'}}"/>
	</div>

	<div class="col-xs-4">
		{{sellableItem.name}}
	</div>

	<div class="col-xs-3">
		{{sellableItem.boughtPrice | currency: 'R$'}}
	</div>

	<div class="col-xs-3">
		<div class="input-group">
			<input type="number" min="1" ng-model="quantity" class="input-sm form-control"/>

			<span class="input-group-btn">
				<button class="btn btn-success" type="button" ng-click="addItem()">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</span>
		</div>
	</div>
</div>
