<div class="side-menu">
	<ul>
		<li>
			<a href="#/items" title="Produtos">
				<span class="glyphicon glyphicon-pencil"></span>
				<i class="go-action glyphicon glyphicon-chevron-right"></i>
			</a>
		</li>

		<li>
			<a href="#/buy/new" title="Comprar">
				<span class="glyphicon glyphicon-shopping-cart"></span>
				<i class="go-action glyphicon glyphicon-chevron-right"></i> 
			</a>
		</li>

		<li>
			<a href="#/buys" title="Ver Compras Feitas">
				<span class="glyphicon glyphicon-folder-close"></span>
				<i class="go-action glyphicon glyphicon-chevron-right"></i> 
			</a>
		</li>
	</ul>
</div>