@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
}
.side-menu {
  position: fixed;
  float: right;
  height: 100%;
  width: 80px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 10px solid #2196f3;
  background-color: #bbdefb;
  transition: all 0.5s ease;
}
.side-menu ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.side-menu ul li {
  background-color: #bbdefb;
  border-bottom: 1px solid #BDBDBD;
}
.side-menu ul li:first-child {
  border-top: 1px solid #BDBDBD;
}
.side-menu ul li a {
  display: block;
  padding: 18px 0 18px 25px;
  font-size: 15px;
  position: relative;
  color: #757575;
  text-decoration: none;
  transition: all 0.5s ease;
}
.side-menu ul li a > i {
  display: inline-block;
  position: absolute;
  color: #FF5252;
  left: 0px;
  line-height: 55px;
  transition: all 0.5s ease;
}
.side-menu ul li a > span {
  display: inline-block;
  padding-left: 0px;
}
.side-menu ul li a:hover,
.side-menu ul li a.active {
  background-color: #2196f3;
  box-shadow: 5px 5px 10px #BDBDBD;
  color: #FFFFFF;
  text-decoration: none;
}
.side-menu ul li a:hover > i,
.side-menu ul li a.active > i {
  transform: translateX(50px);
  color: #FFFFFF;
}
table.list-items {
  margin-top: 20px;
}
table.list-items tr th {
  cursor: pointer;
}
table.list-items tr th span.order:after {
  font-family: 'Glyphicons Halflings';
  font-size: 8px;
}
table.list-items tr th span.asc-order:after {
  content: "\e114";
}
table.list-items tr th span.desc-order:after {
  content: "\e113";
}
table.list-items tr td {
  cursor: pointer;
}
.item-form .form-group .item-image-src {
  height: 50px;
}
.item-form .form-group .validation-block {
  display: block;
  margin-top: 5px;
  font-size: 15px;
  margin-bottom: 10px;
  color: #FF5252;
}
.sellable-item {
  transition: all ease 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #BDBDBD;
}
.sellable-item div {
  text-overflow: ellipsis;
  overflow: hidden;
}
.sellable-item.sellable-item-hover:hover {
  background-color: #bbdefb;
}
.cart-item {
  margin: 10px;
  position: relative;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
}
.cart-item div {
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart-item .btn-remove {
  width: 100%;
  margin-top: 10px;
}
.item-image {
  max-height: 50px;
  max-width: 50px;
  box-sizing: content-box !important;
  min-width: 50px;
  min-height: 50px;
}
.message {
  transition: all 1s ease;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  bottom: 20px;
  z-index: 9999;
}
form .validation-container {
  position: relative;
}
form .validation-container input.validation-field,
form .validation-container textarea.validation-field {
  transition: all 0.8s ease;
}
form .validation-container input.validation-field:focus,
form .validation-container textarea.validation-field:focus {
  box-shadow: inset 0 1px 1px #bbdefb;
  border-color: #1976d2;
}
form .validation-container input.validation-field:focus.valid,
form .validation-container textarea.validation-field:focus.valid {
  border: 1px solid #4aba58;
  box-shadow: 0 0 6px rgba(74, 186, 88, 0.8);
  transition: all 0.8s ease;
}
form .validation-container input.validation-field:focus.valid + span,
form .validation-container textarea.validation-field:focus.valid + span {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 8px 16px;
}
form .validation-container input.validation-field:focus.valid + span:before,
form .validation-container textarea.validation-field:focus.valid + span:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  color: #4aba58;
  transition: all linear 0.5s, box-shadow linear 0.5s;
}
form .validation-container input.validation-field.invalid,
form .validation-container textarea.validation-field.invalid,
form .validation-container input.validation-field.ng-invalid,
form .validation-container textarea.validation-field.ng-invalid {
  border: 1px solid #D32F2F !important;
  box-shadow: 0 0 6px #eeadad !important;
  color: #571212 !important;
  transition: all 0.8s ease !important;
}
form .validation-container input.validation-field.invalid + span,
form .validation-container textarea.validation-field.invalid + span,
form .validation-container input.validation-field.ng-invalid + span,
form .validation-container textarea.validation-field.ng-invalid + span {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 8px 16px;
}
form .validation-container input.validation-field.invalid + span:before,
form .validation-container textarea.validation-field.invalid + span:before,
form .validation-container input.validation-field.ng-invalid + span:before,
form .validation-container textarea.validation-field.ng-invalid + span:before {
  content: "\e014" !important;
  font-family: 'Glyphicons Halflings';
  color: #D32F2F !important;
  transition: all linear 0.5s, box-shadow linear 0.5s;
}
