.side-menu {
	position: absolute;
	float: right;

	height: 100%;
	width:  80px;

	overflow-x: hidden;
	overflow-y: auto;

	border-right: 10px solid @primary-color;

	background-color: @light-primary-color;
	transition: all 0.5s ease;

	ul {
		list-style: none;
		width: 100%;
		margin: 0;
		padding: 0;

		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		

		li {
			background-color: @light-primary-color;
			border-bottom: 1px solid @divider-color;

			&:first-child {
				border-top: 1px solid @divider-color;
			}

			a {
				display: block;
				padding: 18px 0 18px 25px;
				font-size: 15px;
				position: relative;

				color: @secondary-text;
				text-decoration: none;

				transition: all 0.5s ease;

				> i {
					display: inline-block;
					position: absolute;
					color: @accent-color;
					left: 0px;
					line-height: 55px;

					transition: all 0.5s ease;
				}

				> span {
					display: inline-block;
					padding-left: 0px;
				}

				&:hover, &.active {
					background-color: @primary-color;
					box-shadow: 5px 5px 10px @divider-color;
					color: @text-color;
					text-decoration: none;

					> i {
						transform: translateX(50px);
						color: @text-color;
					}
				}
			}
		}
	}
}